@model CategoryModel
@{
    ViewData["Title"] = "Thêm danh mục";
}

<div class="row">
    <div class="col-12 mt-5">

        <div class="row">
            <div class="col-12">
                <div class="float-right mt-2">
                    <a asp-action="List" class="btn btn-light"><i class="fa fa-arrow-left"></i> Quay về</a>
                </div>
                <h1>Thêm danh mục</h1>
            </div>
        </div>

        <partial name="_CreateOrUpdate" model="Model" />
    </div>
</div>
@section Scripts{
    <script src="~/lib/tinymce/tinymce.min.js"></script>
    <script src="~/lib/tinymce/jquery.tinymce.min.js"></script>
    <script src="~/pages/admin/category-page.js"></script>
}
