@model CategoryModel
@{
    ViewData["Title"] = "Chỉnh sửa danh mục";
}

<div class="row">
    <div class="col-12 mt-5">
        <div class="row">
            <div class="col-12">
                <div class="float-right mt-2">
                    <form method="POST" asp-action="Delete" asp-antiforgery="true">
                        <input type="hidden" name="id" value="@Model.Id" />
                        <div class="btn-group" role="group" aria-label="actions">
                            <a asp-action="List" class="btn btn-light"><i class="fa fa-arrow-left"></i> Quay về</a>
                            <button class="btn btn-light deleteBtn" type="submit">
                                <i class="fa fa-trash">&nbsp;</i>
                                <span>Xóa</span>
                            </button>
                        </div>
                    </form>
                </div>
                <h1>Chỉnh sửa - @Model.Name</h1>
            </div>
        </div>

        <partial name="_CreateOrUpdate" model="Model" />
    </div>
</div>
@section Scripts{
    <script src="~/lib/tinymce/tinymce.min.js" defer></script>
    <script src="~/lib/tinymce/jquery.tinymce.min.js" defer></script>
    <script src="~/pages/admin/category-page.js" defer></script>
}
