@model CategoryModel

<div class="row mt-3">
    <div class="col-12">
        <div asp-validation-summary="ModelOnly" class="alert alert-warning"></div>
        <form method="POST" asp-antiforgery="true">
            <input type="hidden" asp-for="Id"/>
            <div class="form-group">
                <label asp-for="Name">Tên</label>
                <input class="form-control" asp-for="Name" />
                <span class="text-muted" asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisplayOrder">Thứ tự</label>
                <input asp-for="DisplayOrder" class="form-control" />
                <span class="text-muted" asp-validation-for="DisplayOrder"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>