@model CategoryListModel
@{
    ViewData["Title"] = "Danh mục";
}

<div class="row">
    <div class="col-12 mt-5">

        <div class="row">
            <div class="col-12">
                <div class="float-right mt-2">
                    <a asp-action="Create" class="btn btn-success"><i class="fa fa-plus"></i> Thêm mới</a>
                </div>
                <h1>Danh mục</h1>
            </div>
        </div>

        <div class="row mt-3">
            <table class="table">
                <tr>
                    <th>
                        Danh mục
                    </th>
                    <th class="text-right">
                        Thứ tự
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model.Categories)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td class="text-right">
                            @item.DisplayOrder
                        </td>
                        <td class="text-right">
                            <form method="POST" asp-antiforgery="true" asp-action="Delete">
                                <input type="hidden" name="id" value="@item.Id"/>
                                <div class="btn-group" role="group" aria-label="actions">
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-light">
                                        <i class="fa fa-pencil-alt">&nbsp;</i>
                                        <span class="sr-only">Chỉnh sửa</span>
                                    </a>
                                    <button class="btn btn-light" type="submit">
                                        <i class="fa fa-trash">&nbsp;</i>
                                        <span class="sr-only">Xóa</span>
                                    </button>
                                </div>
                            </form>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
